@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
}
.bannerBgImage{
    height: 100vh;
    background: url("/images/banner.jpg");
    background-size:cover;
    position:relative;
}
.bannerText{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #f0f8ff;
}
.bannerTitle{
    font-size: 4rem;

}
.bannerDesc{
    font-size: 2rem;
}
.card{
    cursor:pointer;
}
.card:hover{
    background-color: cadetblue;
    border: 5px solid #add8e6;
}
.bIcon {
    width:100%;
    text-align: center;
    font-size: 40px;
}
.img-fluid:hover{
    border: 2px solid plum;
}
.card-img-top{
    height: 50vh;
}